<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">
        
	<context:component-scan base-package="com.slk.wph.module.*.service.* com.slk.wph.webservice.*">   
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />   
<!--         <context:exclude-filter type="annotation" expression="javax.jws.WebService" />   -->
    </context:component-scan>  
    
    

	<!-- 事务管理器 --> 
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">   
   		<property name="dataSource" ref="dataSource"></property>
 	</bean> 
 	
 	 <!-- 事务拦截器  --> 
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
        <!-- 传播行为 -->
            <tx:method name="*" propagation="REQUIRED" />
<!--             <tx:method name="update*" propagation="REQUIRED" />
            <tx:method name="save*" propagation="REQUIRED" />
            <tx:method name="insert*" propagation="REQUIRED" />
            <tx:method name="delete*" propagation="REQUIRED" />
            <tx:method name="set*" propagation="REQUIRED"/>
            <tx:method name="up*" propagation="REQUIRED" />
            <tx:method name="Add*" propagation="REQUIRED"  />
            <tx:method name="find*" propagation="SUPPORTS" read-only="true"/>
            <tx:method name="get*" propagation="REQUIRED" />
            <tx:method name="select*" propagation="SUPPORTS" read-only="true"/>
            <tx:method name="All*" propagation="SUPPORTS" read-only="true"/>
            <tx:method name="List*" propagation="SUPPORTS" read-only="true"/>
            <tx:method name="testtest*" propagation="REQUIRED"  />
 -->        </tx:attributes> 
    </tx:advice>

    <aop:config>
    	<!-- 配置切点 -->
    	<aop:pointcut id="interceptorPointCuts"  expression="(execution(* com.slk.wph.module.*.service.impl.*.*(..) )) or (execution(* com.slk.wph.webservice.*.*.*(..) ))" /> 
        <!-- 通知事物 -->
        <aop:advisor advice-ref="txAdvice" pointcut-ref="interceptorPointCuts" />
    </aop:config> 
</beans>