<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.slk.wph.module.WPH_Servicetype.mapper.WphServicetypeMapper" >
  <resultMap id="BaseResultMap" type="com.slk.wph.module.WPH_Servicetype.po.WphServicetype" >
    <id column="fid" property="fid" jdbcType="INTEGER" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
    <result column="WPH_Query_Fid" property="wphQueryFid" jdbcType="INTEGER" />
    <result column="CreateDate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="JoinUUID" property="joinuuid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    fid, Name, WPH_Query_Fid, CreateDate, JoinUUID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.slk.wph.module.WPH_Servicetype.po.WphServicetypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wph_servicetype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wph_servicetype
    where fid = #{fid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wph_servicetype
    where fid = #{fid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.slk.wph.module.WPH_Servicetype.po.WphServicetypeExample" >
    delete from wph_servicetype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.slk.wph.module.WPH_Servicetype.po.WphServicetype" >
    insert into wph_servicetype (fid, Name, WPH_Query_Fid, 
      CreateDate, JoinUUID)
    values (#{fid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{wphQueryFid,jdbcType=INTEGER}, 
      #{createdate,jdbcType=TIMESTAMP}, #{joinuuid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.slk.wph.module.WPH_Servicetype.po.WphServicetype" >
    insert into wph_servicetype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fid != null" >
        fid,
      </if>
      <if test="name != null" >
        Name,
      </if>
      <if test="wphQueryFid != null" >
        WPH_Query_Fid,
      </if>
      <if test="createdate != null" >
        CreateDate,
      </if>
      <if test="joinuuid != null" >
        JoinUUID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fid != null" >
        #{fid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="wphQueryFid != null" >
        #{wphQueryFid,jdbcType=INTEGER},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="joinuuid != null" >
        #{joinuuid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.slk.wph.module.WPH_Servicetype.po.WphServicetypeExample" resultType="java.lang.Integer" >
    select count(*) from wph_servicetype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update wph_servicetype
    <set >
      <if test="record.fid != null" >
        fid = #{record.fid,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        Name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.wphQueryFid != null" >
        WPH_Query_Fid = #{record.wphQueryFid,jdbcType=INTEGER},
      </if>
      <if test="record.createdate != null" >
        CreateDate = #{record.createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.joinuuid != null" >
        JoinUUID = #{record.joinuuid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update wph_servicetype
    set fid = #{record.fid,jdbcType=INTEGER},
      Name = #{record.name,jdbcType=VARCHAR},
      WPH_Query_Fid = #{record.wphQueryFid,jdbcType=INTEGER},
      CreateDate = #{record.createdate,jdbcType=TIMESTAMP},
      JoinUUID = #{record.joinuuid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.slk.wph.module.WPH_Servicetype.po.WphServicetype" >
    update wph_servicetype
    <set >
      <if test="name != null" >
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="wphQueryFid != null" >
        WPH_Query_Fid = #{wphQueryFid,jdbcType=INTEGER},
      </if>
      <if test="createdate != null" >
        CreateDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="joinuuid != null" >
        JoinUUID = #{joinuuid,jdbcType=VARCHAR},
      </if>
    </set>
    where fid = #{fid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.slk.wph.module.WPH_Servicetype.po.WphServicetype" >
    update wph_servicetype
    set Name = #{name,jdbcType=VARCHAR},
      WPH_Query_Fid = #{wphQueryFid,jdbcType=INTEGER},
      CreateDate = #{createdate,jdbcType=TIMESTAMP},
      JoinUUID = #{joinuuid,jdbcType=VARCHAR}
    where fid = #{fid,jdbcType=INTEGER}
  </update>
</mapper>