<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.slk.wph.module.WPH_Mealmenu_Time.mapper.WphMealmenuTimeMapper" >
  <resultMap id="BaseResultMap" type="com.slk.wph.module.WPH_Mealmenu_Time.po.WphMealmenuTime" >
    <id column="fid" property="fid" jdbcType="INTEGER" />
    <result column="WPH_MealMenu_Fid" property="wphMealmenuFid" jdbcType="INTEGER" />
    <result column="WPH_MealType_Fid" property="wphMealtypeFid" jdbcType="INTEGER" />
    <result column="WPH_MealTime" property="wphMealtime" jdbcType="INTEGER" />
    <result column="WPH_MealWeek" property="wphMealweek" jdbcType="INTEGER" />
    <result column="CreateDate" property="createdate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    fid, WPH_MealMenu_Fid, WPH_MealType_Fid, WPH_MealTime, WPH_MealWeek, CreateDate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.slk.wph.module.WPH_Mealmenu_Time.po.WphMealmenuTimeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wph_mealmenu_time
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wph_mealmenu_time
    where fid = #{fid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wph_mealmenu_time
    where fid = #{fid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.slk.wph.module.WPH_Mealmenu_Time.po.WphMealmenuTimeExample" >
    delete from wph_mealmenu_time
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.slk.wph.module.WPH_Mealmenu_Time.po.WphMealmenuTime" >
    insert into wph_mealmenu_time (fid, WPH_MealMenu_Fid, WPH_MealType_Fid, 
      WPH_MealTime, WPH_MealWeek, CreateDate
      )
    values (#{fid,jdbcType=INTEGER}, #{wphMealmenuFid,jdbcType=INTEGER}, #{wphMealtypeFid,jdbcType=INTEGER}, 
      #{wphMealtime,jdbcType=INTEGER}, #{wphMealweek,jdbcType=INTEGER}, #{createdate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.slk.wph.module.WPH_Mealmenu_Time.po.WphMealmenuTime" >
    insert into wph_mealmenu_time
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fid != null" >
        fid,
      </if>
      <if test="wphMealmenuFid != null" >
        WPH_MealMenu_Fid,
      </if>
      <if test="wphMealtypeFid != null" >
        WPH_MealType_Fid,
      </if>
      <if test="wphMealtime != null" >
        WPH_MealTime,
      </if>
      <if test="wphMealweek != null" >
        WPH_MealWeek,
      </if>
      <if test="createdate != null" >
        CreateDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fid != null" >
        #{fid,jdbcType=INTEGER},
      </if>
      <if test="wphMealmenuFid != null" >
        #{wphMealmenuFid,jdbcType=INTEGER},
      </if>
      <if test="wphMealtypeFid != null" >
        #{wphMealtypeFid,jdbcType=INTEGER},
      </if>
      <if test="wphMealtime != null" >
        #{wphMealtime,jdbcType=INTEGER},
      </if>
      <if test="wphMealweek != null" >
        #{wphMealweek,jdbcType=INTEGER},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.slk.wph.module.WPH_Mealmenu_Time.po.WphMealmenuTimeExample" resultType="java.lang.Integer" >
    select count(*) from wph_mealmenu_time
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update wph_mealmenu_time
    <set >
      <if test="record.fid != null" >
        fid = #{record.fid,jdbcType=INTEGER},
      </if>
      <if test="record.wphMealmenuFid != null" >
        WPH_MealMenu_Fid = #{record.wphMealmenuFid,jdbcType=INTEGER},
      </if>
      <if test="record.wphMealtypeFid != null" >
        WPH_MealType_Fid = #{record.wphMealtypeFid,jdbcType=INTEGER},
      </if>
      <if test="record.wphMealtime != null" >
        WPH_MealTime = #{record.wphMealtime,jdbcType=INTEGER},
      </if>
      <if test="record.wphMealweek != null" >
        WPH_MealWeek = #{record.wphMealweek,jdbcType=INTEGER},
      </if>
      <if test="record.createdate != null" >
        CreateDate = #{record.createdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update wph_mealmenu_time
    set fid = #{record.fid,jdbcType=INTEGER},
      WPH_MealMenu_Fid = #{record.wphMealmenuFid,jdbcType=INTEGER},
      WPH_MealType_Fid = #{record.wphMealtypeFid,jdbcType=INTEGER},
      WPH_MealTime = #{record.wphMealtime,jdbcType=INTEGER},
      WPH_MealWeek = #{record.wphMealweek,jdbcType=INTEGER},
      CreateDate = #{record.createdate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.slk.wph.module.WPH_Mealmenu_Time.po.WphMealmenuTime" >
    update wph_mealmenu_time
    <set >
      <if test="wphMealmenuFid != null" >
        WPH_MealMenu_Fid = #{wphMealmenuFid,jdbcType=INTEGER},
      </if>
      <if test="wphMealtypeFid != null" >
        WPH_MealType_Fid = #{wphMealtypeFid,jdbcType=INTEGER},
      </if>
      <if test="wphMealtime != null" >
        WPH_MealTime = #{wphMealtime,jdbcType=INTEGER},
      </if>
      <if test="wphMealweek != null" >
        WPH_MealWeek = #{wphMealweek,jdbcType=INTEGER},
      </if>
      <if test="createdate != null" >
        CreateDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where fid = #{fid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.slk.wph.module.WPH_Mealmenu_Time.po.WphMealmenuTime" >
    update wph_mealmenu_time
    set WPH_MealMenu_Fid = #{wphMealmenuFid,jdbcType=INTEGER},
      WPH_MealType_Fid = #{wphMealtypeFid,jdbcType=INTEGER},
      WPH_MealTime = #{wphMealtime,jdbcType=INTEGER},
      WPH_MealWeek = #{wphMealweek,jdbcType=INTEGER},
      CreateDate = #{createdate,jdbcType=TIMESTAMP}
    where fid = #{fid,jdbcType=INTEGER}
  </update>
</mapper>