<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.slk.wph.module.WPH_Notice.mapper.WphNoticeMapper" >
  <resultMap id="BaseResultMap" type="com.slk.wph.module.WPH_Notice.po.WphNotice" >
    <id column="fid" property="fid" jdbcType="INTEGER" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
    <result column="User_Fid" property="userFid" jdbcType="INTEGER" />
    <result column="UserRole" property="userrole" jdbcType="VARCHAR" />
    <result column="UserName" property="username" jdbcType="VARCHAR" />
    <result column="CreateDate" property="createdate" jdbcType="TIMESTAMP" />
                </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.slk.wph.module.WPH_Notice.po.WphNotice" extends="BaseResultMap" >
        <result column="Context" property="context" jdbcType="LONGVARCHAR" />
    </resultMap>
    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    fid, Name, User_Fid, UserRole, UserName, CreateDate
  </sql>
  <sql id="Blob_Column_List" >
    Context
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.slk.wph.module.WPH_Notice.po.WphNoticeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from wph_notice
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.slk.wph.module.WPH_Notice.po.WphNoticeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wph_notice
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from wph_notice
    where fid = #{fid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wph_notice
    where fid = #{fid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.slk.wph.module.WPH_Notice.po.WphNoticeExample" >
    delete from wph_notice
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.slk.wph.module.WPH_Notice.po.WphNotice" >
    insert into wph_notice (fid, Name, User_Fid, 
      UserRole, UserName, CreateDate, 
      Context)
    values (#{fid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{userFid,jdbcType=INTEGER}, 
      #{userrole,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{createdate,jdbcType=TIMESTAMP}, 
      #{context,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.slk.wph.module.WPH_Notice.po.WphNotice" >
    insert into wph_notice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fid != null" >
        fid,
      </if>
      <if test="name != null" >
        Name,
      </if>
      <if test="userFid != null" >
        User_Fid,
      </if>
      <if test="userrole != null" >
        UserRole,
      </if>
      <if test="username != null" >
        UserName,
      </if>
      <if test="createdate != null" >
        CreateDate,
      </if>
      <if test="context != null" >
        Context,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fid != null" >
        #{fid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="userFid != null" >
        #{userFid,jdbcType=INTEGER},
      </if>
      <if test="userrole != null" >
        #{userrole,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="context != null" >
        #{context,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.slk.wph.module.WPH_Notice.po.WphNoticeExample" resultType="java.lang.Integer" >
    select count(*) from wph_notice
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update wph_notice
    <set >
      <if test="record.fid != null" >
        fid = #{record.fid,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        Name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.userFid != null" >
        User_Fid = #{record.userFid,jdbcType=INTEGER},
      </if>
      <if test="record.userrole != null" >
        UserRole = #{record.userrole,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null" >
        UserName = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.createdate != null" >
        CreateDate = #{record.createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.context != null" >
        Context = #{record.context,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update wph_notice
    set fid = #{record.fid,jdbcType=INTEGER},
      Name = #{record.name,jdbcType=VARCHAR},
      User_Fid = #{record.userFid,jdbcType=INTEGER},
      UserRole = #{record.userrole,jdbcType=VARCHAR},
      UserName = #{record.username,jdbcType=VARCHAR},
      CreateDate = #{record.createdate,jdbcType=TIMESTAMP},
      Context = #{record.context,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update wph_notice
    set fid = #{record.fid,jdbcType=INTEGER},
      Name = #{record.name,jdbcType=VARCHAR},
      User_Fid = #{record.userFid,jdbcType=INTEGER},
      UserRole = #{record.userrole,jdbcType=VARCHAR},
      UserName = #{record.username,jdbcType=VARCHAR},
      CreateDate = #{record.createdate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.slk.wph.module.WPH_Notice.po.WphNotice" >
    update wph_notice
    <set >
      <if test="name != null" >
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="userFid != null" >
        User_Fid = #{userFid,jdbcType=INTEGER},
      </if>
      <if test="userrole != null" >
        UserRole = #{userrole,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        UserName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        CreateDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="context != null" >
        Context = #{context,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where fid = #{fid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.slk.wph.module.WPH_Notice.po.WphNotice" >
    update wph_notice
    set Name = #{name,jdbcType=VARCHAR},
      User_Fid = #{userFid,jdbcType=INTEGER},
      UserRole = #{userrole,jdbcType=VARCHAR},
      UserName = #{username,jdbcType=VARCHAR},
      CreateDate = #{createdate,jdbcType=TIMESTAMP},
      Context = #{context,jdbcType=LONGVARCHAR}
    where fid = #{fid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.slk.wph.module.WPH_Notice.po.WphNotice" >
    update wph_notice
    set Name = #{name,jdbcType=VARCHAR},
      User_Fid = #{userFid,jdbcType=INTEGER},
      UserRole = #{userrole,jdbcType=VARCHAR},
      UserName = #{username,jdbcType=VARCHAR},
      CreateDate = #{createdate,jdbcType=TIMESTAMP}
    where fid = #{fid,jdbcType=INTEGER}
  </update>
</mapper>